.sebm-google-map-container {
  height: 100vh;
}
.navbar{
    margin-bottom: 0.1rem;
}
 .map-container{
     padding: 0;
 }
 .gm-style > div{
     cursor: crosshair !important;
 }

 .marker-modal {
    position: absolute;
    z-index: 9999;
    top: 30%;
    left: 35%;
}