<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 form-container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <h5 class="card-title">Add New Location</h5>
              <!--<span class="card-subtitle text-muted">drop a pin</span>-->
            </div>
          
            <div class="card-block">
              <form (submit)="addMarker()">
                <fieldset>
                  <div class="form-group">
                      <label>Location</label>
                      <input type="text" class="form-control" [(ngModel)]="markerName" name="markerName">
                      <label>latitude</label>
                      <input type="text" class="form-control" [(ngModel)]="markerLatitude" name="markerLatitude">
                      <label>Longitude</label>
                      <input type="text" class="form-control" [(ngModel)]="markerLongitude" name="markerLongitude">
                      <label>Draggable</label>
                      <select class="form-control" [(ngModel)]="markerDraggable" name="markerDraggable">
                        <option value="no">No</option>
                        <option value="yes">Yes</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Marker</button>
                </fieldset>
              </form>
            </div>
          </div>  
          <div class="">
            <br/>
            <h5>Pinned Locations</h5>
            <table class="table table-striped table-hover table-bordered">
              <thead class="thead-inverse">
                <tr>
                  <th>#</th>
                  <th>Location</th>
                  <!--<th>Column heading</th>-->
                  <!--<th>Column heading</th>-->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let marker of markers; let i = index" >
                  <td>{{ i + 1}}</td>
                  <td>{{marker.name}}</td>
                  <!--<td>{{marker.lat}}</td>-->
                  <!--<td>{{marker.long}}</td>-->
                </tr>
              </tbody>
            </table> 
          </div>
        </div>
      </div>
    </div>

    <!--map-->
    <div class="col-md-9 map-container">
      <div class="map">
        <sebm-google-map 
          [latitude]="lat" 
          [longitude]="long" 
          [zoom]="zoomLevel" 
          [disableDefaultUI]="true" 
          [zoomControl]="false"
          (mapClick)="mapClicked($event)">

          <sebm-google-map-marker *ngFor="let marker of markers; let i = index" 
            (markerClick)="clickedMarker(marker,i)" 
            [latitude]="marker.lat"
            [longitude]="marker.long" 
            [markerDraggable]="marker.draggable"
            [label]="i" 
            (dragEnd)="markerDragEnd(marker, $event)">

            <sebm-google-map-info-window>
              <strong>{{marker.name}}</strong>
              <br>
              <a class="delete" (click)="removeMarker(marker)">delete</a>
            </sebm-google-map-info-window>
          
          </sebm-google-map-marker>

        </sebm-google-map>
      </div>

      <!--<div class="marker-modal">-->
      <div class="marker-modal" *ngIf="appState == 'addMarker'">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Mapply</h5>
              <button type="button" class="close" (click)="changeState('')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!--<p>Modal body text goes here.</p>-->
              <form (submit)="modalSubmit()">
                <fieldset>
                  <div class="form-group">
                      <label>Location</label>
                      <input type="text" class="form-control" [(ngModel)]="markerName" name="markerName">
                  </div>
                  <button type="submit" class="btn btn-primary">Add Marker</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</div>